ALTER TABLE PAPERLESS_ASIGNACION ADD
	TiempoEstimadoUsr1  float null

ALTER TABLE PAPERLESS_ASIGNACION ADD
	Duracion float null

ALTER TABLE PAPERLESS_ASIGNACION ADD
	FechaAceptacionUsr1 datetime null

