<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SCCMultimodal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ProyectoCraft.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Local" value="true"/>
    <!--MI NOTEBOOK-->
    <add key="CadenaConexion" value="data source=localhost;initial catalog=SCCQA_22102013;user id=sa;Integrated Security=True;MultipleActiveResultSets=true"/>
    <!--<add key="CadenaConexion" value="data source=localhost;initial catalog=SCC;user id=sa;password=Polaco.123456;Integrated Security=False"/>-->

    <!--CRAFT-->
    <!--<add key="CadenaConexion" value="data source=192.168.1.3;initial catalog=SCC;user id=userscc;password=sccuser;Integrated Security=False"/>-->
    
    <!--CRAFT QA BRASIL-->    
    <!--<add key="CadenaConexion" value="data source=192.168.3.3;initial catalog=SCC_Brasil;user id=scc_brasil;password=userscc_brasil;Integrated Security=False"/>-->
    
    <!--QA-->
    <!--<add key="CadenaConexion" value="data source=192.168.1.3;initial catalog=SCCtest;user id=userscc;password=sccuser;Integrated Security=False"/>-->


    <!--<add key="EmailVisitaConfirmadaCliente" value="Estimado(a) [CONTACTO] [SALTO] [SALTO] [NOMBREEJECUTIVO] ha confirmado una visita con Ud. [SALTO] Los datos de la visita son: [SALTO] Ubicación: [UBICACION] [SALTO] Comienzo: [COMIENZO] [SALTO] Termino: [TERMINO] [SALTO] Asistentes: [SALTO] [ASISTENTES] [SALTO] [SALTO] Atte."/>-->
    <add key="EmailVisitaConfirmadaCliente" value="INFORMACION DE REUNION [SALTO] [SALTO] Cliente: [NOMBREFANTASIA] [SALTO] Estimado(a): [NOMBRECONTACTO] [SALTO] [SALTO] El presente aviso es para informar que [EJECUTIVO] ha confirmado una visita con usted. [SALTO] Los datos de la visita son: [SALTO] Ubicación: [UBICACION] [SALTO] Comienzo: [COMIENZO] [SALTO] Termino: [TERMINO] [SALTO] Ejecutivo: [EJECUTIVO] [SALTO] Asistentes: [ASISTENTES] [SALTO] [SALTO] Agradecidos de su atención y participación [SALTO] [SALTO] Atentamente [SALTO] CRAFT MULTIMODAL CHILE LIMITADA"/>

    <!--<add key="EmailVisitaConfirmada" value="Estimado(a) [ASISTENTE] [SALTO] [SALTO] Se ha confirmado la visita al Cliente [CLIENTE] a la cual ud. confirmo asistencia. [SALTO] Los datos de la visita son:[SALTO] Asunto: [ASUNTO] [SALTO] Ubicación: [UBICACION] [SALTO] Comienzo: [COMIENZO] [SALTO] Termino: [TERMINO] [SALTO] Ejecutivo: [VENDEDOR] [SALTO] Importancia de Visita: [IMPORTANCIA] [SALTO] Descripción: [DESCRIPCION] [SALTO] Asistentes: [SALTO] asistentes [SALTO] [SALTO] Atte."/>-->
    <add key="EmailVisitaConfirmada" value="Cliente: [NOMBREFANTASIA] [SALTO] Estimado(a): [NOMBREASISTENTE] [SALTO] [SALTO] El presente aviso es para informar que se ha confirmado una visita a la cual usted confirmó asistencia. [SALTO] Los datos de la visita son: [SALTO] Ubicación: [UBICACION] [SALTO] Comienzo: [COMIENZO] [SALTO] Termino: [TERMINO] [SALTO] Ejecutivo: [EJECUTIVO] [SALTO] Asistentes: [ASISTENTES] [SALTO] [SALTO] Agradecidos de su atención y participación [SALTO] Atentamente [SALTO] CRAFT MULTIMODAL CHILE LIMITADA  "/>
    <add key="EmailVisitaConfirmadaReunionInterna" value="Estimado(a): [NOMBREASISTENTE] [SALTO] [SALTO] El presente aviso es para informar que se ha confirmado una visita a la cual usted confirmó asistentia. [SALTO] Los datos de la visita son: [SALTO] Ubicación: [UBICACION] [SALTO] Comienzo: [COMIENZO] [SALTO] Termino: [TERMINO] [SALTO] Organizador: [ORGANIZADOR] [SALTO] Descripcion: [DESCRIPCION] [SALTO] Asistentes: [ASISTENTES] [SALTO] [SALTO] Agradecidos de su atención y participación [SALTO] Atentamente [SALTO] CRAFT MULTIMODAL CHILE LIMITADA  "/>

    <add key="EmailInformeVisita" value="Estimado(a) [ASISTENTE] [SALTO] [SALTO] Se ha registrado el Informe de Visita al Cliente [CLIENTE] [SALTO] Los datos del Informe son: [SALTO] - Productos Conversados: [PRODUCTOS] [SALTO] - Traficos Conversados: [TRAFICOS] [SALTO] - Espectativas Cierre: [ESPECTATIVAS] [SALTO] - Follow Up: [FOLLOWUP] [SALTO] - Resumen: [RESUMEN] [SALTO] [SALTO] [SALTO] Atte."/>
    <add key="EmailInformeVisitaRecFijos" value="Estimado(a) [USUARIO] [SALTO] [SALTO] [VENDEDOR] ha ingresado un Informe de Visita correspondiente a: [SALTO] Cliente: [CLIENTE] [SALTO] Inicio: [INICIO] [SALTO] Termino: [TERMINO] [SALTO] Asunto: [ASUNTO] [SALTO] [SALTO] El Informe es el siguiente: [SALTO] - Productos Conversados: [PRODUCTOS] [SALTO] - Traficos Conversados: [TRAFICOS] [SALTO] - Espectativas Cierre: [ESPECTATIVAS] [SALTO] - Follow Up: [FOLLOWUP] [SALTO] - Resumen: [RESUMEN] [SALTO] [SALTO] [SALTO] Atte."/>

    <add key="EmailVisitaOrganizada" value="Estimado(a) [VENDEDOR] [SALTO] [ORGANIZADOR] le ha organizado una visita al cliente [CLIENTE]. [SALTO] Los datos de la visita son: [SALTO] Asunto: [ASUNTO] [SALTO] Ubicación: [UBICACION] [SALTO] Inicio: [INICIO] [SALTO] Termino: [TERMINO] [SALTO] Importancia: [IMPORTANCIA] [SALTO] Descripcion: [DESCRIPCION] [SALTO] Asistentes Cliente: [ASISTENTESCLIENTE] [SALTO] Asistentes Craft: [ASISTENTESCRAFT] [SALTO] [SALTO] Atte."/>

    <add key="EmailAvisoInformRequiereRespuesta" value="ESTIMADO [USUARIO] [SALTO] [VENDEDOR] ha solicitado respuesta al Informe de Visita que ha registrado.[SALTO] Los datos de la visita e Informe son:[SALTO] DATOS DE LA VISITA [SALTO] Cliente: [CLIENTE] [SALTO] Asunto: [ASUNTO] [SALTO] Ubicación: [UBICACION] [SALTO] Inicio: [INICIO] [SALTO] Termino: [TERMINO] [SALTO] Asistentes Cliente: [ASISTENTESCLIENTE] [SALTO] Asistentes Craft: [ASISTENTESCRAFT] [SALTO] [SALTO] DATOS DEL INFORME [SALTO] Productos Conversados: [PRODUCTOS] [SALTO] Traficos Conversados: [TRAFICOS] [SALTO] Otros Temas: [OTROS] [SALTO] Follow Up: [FOLLOWUP] [SALTO] Resumen de la visita: [RESUMEN] [SALTO] [SALTO] Atte."/>

    <add key="EmailComentarioInformeVisita" value="Estimado [USUARIO] [SALTO] [USUARIOCOMENTADOR] ha realizado un comentario en el Informe de Visitas del cliente [CLIENTE] [SALTO] El comentario es: [SALTO] [COMENTARIO] [SALTO] [SALTO] Los datos de la Visita son: [SALTO] Asunto: [ASUNTO] [SALTO] Inicio: [INICIO] [SALTO] Termino: [TERMINO] [SALTO] [SALTO] Los datos del Informe son: [SALTO] Productos conversados: [PRODUCTOS] [SALTO] Traficos conversados: [TRAFICOS] [SALTO] Descripción: [SALTO] [RESUMEN] [SALTO][SALTO] Atte."/>
    <add key="EmailAsignacionTarget" value="Estimado(a) [VENDEDOR]: [SALTO] [SALTO]Con fecha [FECHA] se ha asignado a Ud. El siguiente TARGET: [Codigo_TARGET] correspondiente al cliente [CLIENTE], la fecha de nuestra próxima reunión de avance será el día [FECHA_FOLLOWUP]. [SALTO] [SALTO] Datos del Target: [SALTO] [SALTO] Tipo Target: [TIPO_TARGET][SALTO] Commodity: [COMMODITY][SALTO] Tipo Contenedor: [TIPO_CONTENEDOR][SALTO] Follow Up: [FOLLOOW_UP][SALTO] Fecha Apertura: [FECHA][SALTO] Shipper: [SHIPPER][SALTO] Prioridad: [PRIORIDAD][SALTO][SALTO]Productos:[SALTO][PRODUCTOS][SALTO][SALTO]Tráficos:[SALTO][TRAFICOS][SALTO][SALTO]Competencia:[SALTO][COMPETENCIA][SALTO] [SALTO] Atte. [SALTO] [USUARIO_ENVIA]"/>
    <add key="AsuntoEmailAsignacionTarget" value="Aviso Asignación Nuevo Target"/>
    <add key="EmailNewObservacion" value="Estimado(a) [DESTINATARIO]: [SALTO] [SALTO][USUARIO_ENVIA] ha comentado Target [SALTO]'[OBSERVACION]...' [SALTO] [SALTO]Sistema Comercial Craft"/>
    <add key="AsuntoEmailNewObservacion" value="[USUARIO_ENVIA] ha comentado su Target [TARGET], con fecha [FECHA]"/>
    <add key="EmailCierreTarget" value="Estimados(a) [DESTINATARIO]: [SALTO] [SALTO]Se ha cerrado exitosamente el siguiente Target: [TARGET] [SALTO]'[OBSERVACION]...' [SALTO] [SALTO]Sistema Comercial Craft"/>
    <add key="AsuntoEmailCierreTarget" value="Aviso Cierre de Target"/>
    <add key="EmailCancelaTarget" value="Estimados(a) [SALTO] [SALTO]Se ha Cancelado el siguiente Target: [TARGET] [SALTO]'[OBSERVACION]...' [SALTO] [SALTO]Sistema Comercial Craft"/>
    <add key="EmailPaperlessAsignacionUsuario1" value="Estimado [USUARIO1] [SALTO] [SALTO] Ha sido confirmado como Usuario de 1ra Etapa en un nuevo Proceso Documental. [SALTO] Los datos del proceso son: [SALTO] [SALTO] Fecha Asignacion: [FECHAASIGNACION] [SALTO] N° Master: [NUMMASTER] [SALTO] Fecha Master: [FECHAMASTER] [SALTO] Agente: [AGENTE] [SALTO] Naviera: [NAVIERA] [SALTO] Nave: [NAVE] [SALTO] Viaje: [VIAJE] [SALTO] N° Houses/BL: [NHOUSESBL] [SALTO] Tipo Carga: [TIPOCARGA] [SALTO] Fecha ETA: [FECHAETA] [SALTO] Apertua Navieras: [APERTUANAVIERAS] [SALTO] Plazo Embarcadores: [PLAZOEMBARCADORES] [SALTO] Importancia: [IMPORTANCIA] [SALTO] Usuario 2da. Etapa [USUARIOCONTRAPARTE] [SALTO] Observacion: [OBSERVACION] [SALTO] [SALTO] Atte. "/>
    <add key="EmailPaperlessAsignacionUsuario2" value="Estimado [USUARIO1] [SALTO] [SALTO] Ha sido confirmado como Usuario de 2da Etapa en un nuevo Proceso Documental. [SALTO] Los datos del proceso son: [SALTO] [SALTO] Fecha Asignacion: [FECHAASIGNACION] [SALTO] N° Master: [NUMMASTER] [SALTO] Fecha Master: [FECHAMASTER] [SALTO] Agente: [AGENTE] [SALTO] Naviera: [NAVIERA] [SALTO] Nave: [NAVE] [SALTO] Viaje: [VIAJE] [SALTO] N° Houses/BL: [NHOUSESBL] [SALTO] Tipo Carga: [TIPOCARGA] [SALTO] Fecha ETA: [FECHAETA] [SALTO] Apertua Navieras: [APERTUANAVIERAS] [SALTO] Plazo Embarcadores: [PLAZOEMBARCADORES] [SALTO] Importancia: [IMPORTANCIA] [SALTO] Usuario 1ra. Etapa [USUARIOCONTRAPARTE] [SALTO] Observacion: [OBSERVACION] [SALTO] [SALTO] Atte. "/>
    <add key="EmailPaperlessConfirmacionAUsuario2" value="Estimado [USUARIO2] [SALTO] El Usuario [USUARIO1] de la primera etapa del Proceso documental, le ha enviado confirmacion para que ud. siga con el proceso. [SALTO] Los datos del proceso son: [SALTO] Fecha Asignacion: [FECHAASIGNACION] [SALTO] N° Master: [NUMMASTER] [SALTO] Fecha Master: [FECHAMASTER] [SALTO] Agente: [AGENTE] [SALTO] Naviera: [NAVIERA] [SALTO] Nave: [NAVE] [SALTO] Viaje: [VIAJE] [SALTO] N° Houses/BL: [NHOUSESBL] [SALTO] Tipo Carga: [TIPOCARGA] [SALTO] Fecha ETA: [FECHAETA] [SALTO] Apertua Navieras: [APERTUANAVIERAS] [SALTO] Plazo Embarcadores: [PLAZOEMBARCADORES] [SALTO] Importancia: [IMPORTANCIA] [SALTO] Observacion: [OBSERVACION] [SALTO] [SALTO] Atte. "/>
    <add key="EmailPaperlessConfirmacionTerminoProceso" value="Estimado [USUARIOAVISO] [SALTO] El Proceso documental en cuestión ha sido finalizado. [SALTO] Los datos del proceso son: [SALTO] Número Consolidado: [NUMCONSOLIDADO] [SALTO] Fecha Asignacion: [FECHAASIGNACION] [SALTO] N° Master: [NUMMASTER] [SALTO] Fecha Master: [FECHAMASTER] [SALTO] Agente: [AGENTE] [SALTO] Naviera: [NAVIERA] [SALTO] Nave: [NAVE] [SALTO] Viaje: [VIAJE] [SALTO] N° Houses/BL: [NHOUSESBL] [SALTO] Tipo Carga: [TIPOCARGA] [SALTO] Fecha ETA: [FECHAETA] [SALTO] Apertua Navieras: [APERTUANAVIERAS] [SALTO] Plazo Embarcadores: [PLAZOEMBARCADORES] [SALTO] Importancia: [IMPORTANCIA] [SALTO] Observacion: [OBSERVACION] [SALTO] [SALTO] Atte."/>
    <add key="EmailPaperlessRechazoAsignacion" value="Estimado [USUARIO] [SALTO][SALTO] El Usuario de la 1ra Etapa [USUARIO1] ha rechazado la asignacion correspondiente a: [SALTO][SALTO] N° Master: [NUMMASTER] [SALTO][SALTO]  el cual le fue asignado el dia [FECHAASIGNACION] [SALTO][SALTO] Atte."/>
    <add key="AsuntoEmailCancelaTarget" value="Aviso Cancelación de Target"/>
    <add key="MailCopiaAsignadorObs" value="S"/>
    <add key="MailCopiaOtrosUsuariosObs" value="S"/>


    <add key="UsuarioConectado" value="paulo.ricardo"/>  <!--mayara.meneses,mcabello-->
    <add key="CuentasPropuesta" value="5"/>
    <add key="TargetPropuesta" value="5"/>
    <add key="SupervisorDocumental" value="5,12,59"/>
    <add key="Administrador" value="4"/>
    <add key="EmailInformeFijo" value=""/>
    <add key="EmailInformeLCL" value=""/>
    <add key="EmailInformeFCL" value=""/>
    <add key="Paperless_Mail_Finalizacion_Etapa1LCL" value=""/>
    <add key="Paperless_Mail_Finalizacion_Etapa1FCL" value=""/>
    <add key="EmailInformeAereo" value=""/>
    <add key="EmailAsignadorTarget" value=""/>
    <add key="NombreAsignadorTarget" value="Stephen"/>
    <add key="AsuntoEmailAsignacionSLead" value="Aviso Asignación Nuevo Sales Lead"/>
    <add key="AsuntoEmailNewObservacionSLead" value="[USUARIO_ENVIA] ha comentado su Sales Lead [SLEAD], con fecha [FECHA]"/>
    <add key="FiltroUsuario1" value="Asignado Usuario 1ra Etapa,Aceptado Por Usuario 1ra Etapa,En Proceso Usuario 1ra Etapa"/>
    <add key="FiltroUsuario2" value="Enviado Usuario 2da Etapa,En Proceso Usuario 2da Etapa"/>
    <add key="FechaFormatoEtaPaperless" value="ddMMyyyy"/>
    <add key="FechaMasterPaperlessFormato" value="ddMMyyyy"/>
    <add key="MailEnCopia" value=";pnino@craft.cl"/>
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
      <!--<appender-ref ref="LogFileAppender" />-->
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="logCraft.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="30" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=localhost;initial catalog=SCC;user id=sa;Integrated Security=True" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>


  <userSettings>
    <SCCMultimodal.Properties.Settings>
      <setting name="Id" serializeAs="String">
        <value />
      </setting>
      <setting name="Descripcion" serializeAs="String">
        <value>lstProductoPreferido</value>
      </setting>
      <setting name="NombreCompleto" serializeAs="String">
        <value>repositoryItemComboBox1</value>
      </setting>
    </SCCMultimodal.Properties.Settings>
    <ProyectoCraft.WinForm.Properties.Settings>
      <setting name="Id" serializeAs="String">
        <value />
      </setting>
      <setting name="Descripcion" serializeAs="String">
        <value>lstProductoPreferido</value>
      </setting>
    </ProyectoCraft.WinForm.Properties.Settings>
  </userSettings>
</configuration>